/* SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  background-color: #292929;
  overflow: hidden;
}

input {
  font-size: 16px;
}

/* Header */
.header {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.nav_item {
  flex: 0 1 auto;
  padding-left: 12px;
  padding-right: 12px;
}
.logo {
  width: 32px;
  height: 32px;
}

.logo:hover {
  transform: scale(1.15);
  transition: all ease 500ms;
}

/* Links */
a {
  color: white;
}

.header a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #7bc74d;
}

.link {
  text-decoration: none;
}

.link-underline {
  text-decoration: underline;
}

/* Splash Screen */

.intro {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #292929;
  transition: 1s;
}

.logo_splash {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.logo_span {
  position: relative;
  display: flex;
  bottom: -20px;
  opacity: 0;
  flex: 0 0 auto;
}

.logo_span.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo_span.fade {
  bottom: 150px;
  opacity: 0px;
  transition: ease-in-out 0.5s;
}
.logo_img_splash {
  width: 64px;
  height: 64px;
}

/* Main section */
.content {
  display: flex;
  gap: 16px;
  height: 100%;
}

#map {
  flex: 1 0 70%;
  height: calc(100vh - 50px);
}

.easy-button-button.leaflet-bar-part.leaflet-interactive.unnamed-state-active.disabled {
  display: none;
}

#sidebar {
  /* dont use pixels */
  flex: 0 1 30%;
  display: none;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

#sidebar h2 {
  padding-bottom: 10px;
}

.location {
  justify-items: center;
}

/* Popup */
.popup {
}

.audio {
  display: block;
}

/* Modals */
#modal_form {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal_content_submission {
  text-align: left;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.form_fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#latitude {
  display: none;
}

#longitude {
  display: none;
}

#modal_faq {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

/* Login page */
.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
}

/* Register page */
.register_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
}

/* Reset page */
.reset_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
}

/* Mobile */
@media (max-width: 800px) {
  #map {
    flex: 1 1 100%;
    height: calc(100vh - 50px);
  }

  #sidebar {
    display: none;
  }

  h1 {
    font-size: 20px;
  }

  .logo_img_splash {
    width: 48px;
    height: 48px;
  }
  .logo_splash {
    gap: 16px;
  }
}
