/* SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  height: 100%;
  touch-action: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: #292929;
  height: 100%;
  overflow: hidden;
}

/* Header */
.main_nav {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  list-style-type: none;
  min-height: 3rem;
}

.nav_item {
  flex: 0 0 auto;
}

.message {
  display: flex;
  min-height: 2rem;
  background-color: #7bc74d;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  color: black;
}

.logo {
  width: 32px;
  height: 32px;
}

.logo:hover {
  transform: scale(1.15);
  transition: all ease 500ms;
}

/* Buttons */
.button {
  border: solid;
  border-color: #7bc74d;
  color: #7bc74d;
  background-color: transparent;
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.detailed_button {
  border-color: white;
  color: white;
}

.custom_upload {
  font-size: 14px;
}

input[type="file"] {
  display: none;
}

input {
  font-size: 16px;
}

/* Links */
a {
  color: white;
}

.header a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #7bc74d;
}

.link {
  text-decoration: none;
}

.link-underline {
  text-decoration: underline;
}

/* Splash Screen */
.intro {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #292929;
  transition: 1s;
}

.logo_splash {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.logo_span {
  position: relative;
  display: flex;
  bottom: -20px;
  opacity: 0;
  flex: 0 0 auto;
}
.logo_span {
  font-size: 36px;
}

.logo_span.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo_span.fade {
  bottom: 150px;
  opacity: 0px;
  transition: ease-in-out 0.5s;
}
.logo_img_splash {
  width: 64px;
  height: 64px;
}

/* Main section */
.content {
  display: flex;
  gap: 16px;
  height: 100%;
}

#map {
  flex: 1 0 70%;
  height: calc(100% - 3rem);
}

.error {
  height: calc(100% - 5rem) !important;
}

.easy-button-button.leaflet-bar-part.leaflet-interactive.unnamed-state-active.disabled {
  display: none;
}

#sidebar {
  display: none;
  height: 100%;
}

#sidebar h2 {
  padding-bottom: 10px;
  height: 2rem;
}

#aside_scroll {
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 5rem);
}

.error2 {
  height: calc(100% - 7rem) !important;
}

.location:hover {
  border: solid;
  border-color: #7bc74d;
  color: #7bc74d;
}
.location {
  justify-items: center;
  color: white;
  border: solid;
  border-color: white;
  background-color: transparent;
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  border-radius: 0.5rem;
}

/* Popup */
.popup {
  width: 100%;
}

.audio {
  width: 100%;
}

/* Modals */
#modal_form {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal_content_submission {
  text-align: left;
  width: 50%;
  margin: 100px auto;
}

.form_fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#latitude {
  display: none;
}

#longitude {
  display: none;
}

.file_upload {
  display: flex;
  gap: 5px;
}

#modal_faq {
  display: none;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

/* Login page */
.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 50%;
  margin: 100px auto;
}

.login_button {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

/* Register page */
.register_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 50%;
  margin: 100px auto;
}

/* Reset page */
.reset_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  width: 50%;
  width: 50%;
  margin: 100px auto;
}

/* Mobile */
@media (max-width: 800px) {
  #map {
    flex: 1 1 100%;
  }

  #sidebar {
    display: none;
  }

  .logo_span h1 {
    font-size: 20px;
  }

  .logo_img_splash {
    width: 48px;
    height: 48px;
  }
  .logo_splash {
    gap: 16px;
  }
}
